.DS_Store
.ipynb_checkpoints/
.vscode/
__pycache__/
Voxelized Models/
HDF5/
Morphology.mp4
Material1.txt
Material2.txt
Material3.txt
CyRSoXS.log
config.txt
Fibril.hdf5
.gitignore
old/
Morphology.hdf5
experiments/c2c_dist/
experiments/__pycache__/
experiments/ex/__pycache__/